<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>CHATS</h2>
    <br>
    <button>Create</button><br><br>
    <%for(chat of chats){%>

    <div class="chat">
        <p><b>From : <%=chat.from%></b></p>
        <br>
        <div class="msg">
            <p><%=chat.msg%></p>
            <form method="get" action="/chats/<%=chat._id%>/edit">
                <button class="but">Edit</button>
            </form>
            
        </div>
        <br>
        <p><b>To : <%=chat.to%></b></p>
    </div>
    <br><br>
    <%}%>
</body>
</html>


